<%- include('partials/header'); -%>

<div class="container mt-4">
  <h2>Compose New Post</h2>
  <form action="/compose" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required/>
    </div>
    <div class="form-group">
      <label for="post">Post:</label>
      <textarea
        class="form-control"
        id="post"
        name="post"
        rows="4"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish Post</button>
  </form>
</div>

<%- include('partials/footer'); -%>
